<button
    mat-icon-button
    routerLink="/products-list"
>
    <mat-icon>
        arrow_back_ios
    </mat-icon>
</button>
<ng-container *ngIf="(product$ | async) as product">
    <div>
        <img class="preview" [src]="product.images[0].url">
        <button
            mat-button
            routerLink="./"
            [queryParams]="{
                isDialogOpened: true
            }"
        >
            Open dialog
        </button>
    </div>
    <div class="content">
        <nav mat-tab-nav-bar>
            <a
                mat-tab-link
                routerLink="./description"
            >
                Description
            </a>
            <a
                mat-tab-link
                routerLink="./feedback"
            >
                Feedback
            </a>
        </nav>
        
        <router-outlet></router-outlet>
    </div>
</ng-container>