<mat-form-field class="search-input" appearance="fill">
    <mat-label>Search</mat-label>
    <input #serachInput matInput>
</mat-form-field>

<div *appGallery="let imgSrc from images; let next = next; let back = back" class="gallery">
    <button mat-icon-button (click)="back()">
        <mat-icon>
            chevron_left
        </mat-icon>
    </button>
    <img class="gallery__img" [src]="imgSrc">
    <button mat-icon-button (click)="next()">
        <mat-icon>
            chevron_right
        </mat-icon>
    </button>
</div>

<div
    *ngIf="(products$ | async) as products; else loadingStub"
    class="products-container"
>
    <app-product-card
        *ngFor="let product of (products | productsFilter : serachInput.value); trackBy: trackByName"
        class="product-card"
        [routerLink]="'/product/' + product._id"
        [product]="product"
    ></app-product-card>
</div>

<ng-template #loadingStub>
    <mat-spinner></mat-spinner>
</ng-template>
